@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
    font-family: "Quicksand", sans-serif;
    font-size: large;
}

.title1 {
    text-align: center;
    margin-top: 20px;
}

.sec1 {
    justify-content: center;
}

.form1 {
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
}

.form2 {
    text-align: center;
    margin-top: 10px;
}

.form3 {
    text-align: center;
    margin-top: 25px;
}

.form4 {
    text-align: center;
    margin-top: 25px;
}

#description {
    width: 225px;
}

.btn {
    width: 225px;
}